.bg{
    background-color: #8EC5FC;
    /* background-image: linear-gradient(62deg, #00000000 0%, rgba(0, 0, 0, 0.596) 100%),url("../../assets/images/bg.jpg"); */
    background-position: center;
    background-size: cover;
}